<% if production_and_default_branch? %>
<!-- Google Tag Manager -->
<script async src="<%= @items['/assets/javascripts/gtag_analytics.*'].path %>"></script>
<script async src="<%= @items['/assets/javascripts/google_tagmanager.*'].path %>"></script>
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJXWQL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- Marketo -->
<script async src="<%= @items['/assets/javascripts/marketo_analytics.*'].path %>"></script>

<!-- Bizible -->
<script async src="https://cdn.bizible.com/scripts/bizible.js"></script>

<!-- LinkedIn -->
<script async src="<%= @items['/assets/javascripts/linkedin_analytics.*'].path %>"></script>
<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=30694&fmt=gif" />
</noscript>
<% end %>
