<script type="application/ld+json">
[{
  "@context":"http://schema.org",
  "@type":"Organization",
  "name":"GitLab",
  "legalName":"GitLab Inc.",
  "url":"https://about.gitlab.com",
  "logo":"https://about.gitlab.com/images/press/logo/png/gitlab-logo-500.png",
  "foundingDate":"2011",
  "founders":[
    {
      "@type":"Person",
      "name":"Sid Sijbrandij"
    },
    {
      "@type":"Person",
      "name":"Dmitriy Zaporozhets"
    }],
    "sameAs":[
      "https://gitlab.com/",
      "https://docs.gitlab.com/",
      "https://www.facebook.com/gitlab",
      "https://twitter.com/gitlab",
      "https://www.linkedin.com/company/gitlab-com",
      "https://en.wikipedia.org/wiki/GitLab",
      "https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"]
},
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://docs.gitlab.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "https://docs.gitlab.com/search?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}]
</script>
